* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, verdana;
}

body {
    background-color: #e1d9c9;
    position: relative;
}

a {
    color: white;
}

p {
    padding: 10px 0;
    text-align: center;
}

input {
    border: 0;
    background: none;
    font-size: 60px;
    width: 100%;
}

.container {
    width: 992px;
    margin: 30px
     auto;
}

.score {
    display: flex;
}

.user-score {
    flex: 1 50%;
    text-align: left;
}

.cpu-score {
    flex: 1 50%;
    text-align: right;
}

.cpu-score input {
    text-align: right;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.choice {
    border-radius: 50%;
    background-color:  #d29161;
    width: 138px;
    height: 138px;
    margin: 0 60px;
    text-align: center;
    padding-top: 40px;
}

.title {
    color:  #743f27;
    font-size: 120px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}

.jokenpo {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.jokenpo-choice {
    border-radius: 50%;
    background-color:  #e6ebe8;
    width: 90px;
    height: 90px;
    margin: 30px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    padding-top: 14px;
}

.jokenpo-choice:hover {
    background-color:  #89856a;
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 820px) {
    .choice {
        width: 100px;
        height: 100px;
        margin: 0 30px;
        text-align: center;
        padding-top: 20px;
    }
}

@media (max-width: 620px) {
    .title {
        font-size: 40px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width: 520px) {
    .jokenpo-choice {
        width: 80px;
        height: 80px;
        margin: 8px;
        padding-top: 14px;
    }
}

@media (max-width: 450px) {
    .choices {
        margin: 40px 0;
    }
    .choice {
        width: 80px;
        height: 80px;
        margin: 0 20px;
        text-align: center;
        padding-top: 10px;
    }
    .title {
        font-size: 20px;
        line-height: 4px;
        text-align: center;
    }
}
